*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

#card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30vw;
    background: coral;
    min-height: auto;
    margin: 2rem auto 0.8rem auto;
    border-radius: 5px;
    padding: 1rem 2rem;

}

#card img{
    width: 10vw;
    height: auto;
    border-radius: 50%;
    padding-bottom: 1rem;
}

#card h1{
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
}

#card h3{
    color: black;
    font-size: 1rem;
    font-family: 'Karma', serif;
    font-weight: 600px;
}

#card p{
    font-size: 1rem;
    font-family: 'Acme', sans-serif;
}
#info{
    padding: 1rem;
}
#nameText{
    padding: 0;
}
 
#nameText h3{
    font-family: 'Press Start 2P', cursive;
    font-size:1rem;
    display: inline;
}


